p{
    color:blueviolet
}

h1{
    color:aquamarine
}


form{
    margin: 0 auto; /* es el margen que quetremos tener visible en la pagina. auto es para que genere el margen automaticamente depende de lo que requiera el formulario*/
    width: 400px;        /*es para mover el texto en los pixeles de la pantalla y asi mover a la izquierda, derecha o centrar*/
    padding: 1em; /*separacion entre el contenido y el margen .em equivale a 16px*/
    border: 5px blue; /*Nos permite crear el borde para el formulario, agregandole tamaño y color cambiando la palabra solid por el color que queramos*/
    border-radius: 16px; /*recorta las orillas del borde y las hace circulares en este caso*/
}

ul{
    padding: 0;
    margin: 0;
    list-style: none; /*Elimina todo tipo de biñetas o con lo que este listado la lista*/

}

form li+li{ /*realizamos la separación de cada input que hay en nuetsra lista*/
    margin-top: 1em;
}

label{
    display: inline-block; /*Nos ayuda a alinear nuestra etiqueta y no esten sobresalidas */
    width: 90px; /*es para decir cauntos piexeles queremos movernuetsro texto*/
    color: red; /*darle color a nuestra etiqueta*/
    text-align: right; /*Para donde mandar la alineacion que hicimos, hacia izquierda, derecha, arriba, abajo o enmedio*/
}

input:focus{
    border-color: blue; /*resalta el input una vez que hagamos click con el color que le pusimos*/
}

textarea{
    vertical-align: top; /*mandar la alineacion de nuestro label que acompaña al text area arriba con top*/
    height: 90px; /*Tamaño de nuestra text area*/
}

button{
    margin-left: 100px; /*cuantos pixeles queremos mover nuestro boton en este caso a la izquierda para centrarlo o solo desplazarlo*/
}