body{
    background-color: #fdcae1;
}

/* se puede hacer de cualquiera de las dos maneras, normal o generadsno unac clase como se muestra a continuación 
.fondorosa{
    background-color: #fdcae1;
}*/

p{
    background-color: cornflowerblue;
}

.parraforojo{ /*crear clase de estilo para algo en común en este caso el color de fondo del parrafo*/
    background-color: beige;
}

.parrafoazul{
    background-color: azure;
}

.parrafopastel{
    background-color: coral;
}

.parrafoSec1{ /*Se crea clase en una seccion para respetar un estilo en es seccion una vez que sea llamada en el index*/
    
}

.parrafoSec2{
    margin-bottom: 0px; /*Se elimina el margen de la parte de abajo del parrafo para que pueda ser unido con el otro ya que el padding es la separacion enetre un parrafo y otro y en este caso tenemos que eliminar el margen*/
}
.sectionPrimaria{ /*Creando clases para sectiones*/
    text-align: justify; /*el justify se usa para que el texto no este sobresalido*/
    font-size: 10px;
    background-color: burlywood; /* color de fondo de la seccion completa*/
    margin-top: 10px; /*tamaño del margen arriba o la separaciòn entre el margen y el padding y el borde*/
    margin-bottom: 0px; /*Tamaño del margen en la parte de abajo o la separaciòn entre el padding y el borde con el margen*/
   /*border: 1px solid black;*/
}

.sectionSecundaria{
    text-align: left;
    font-size: 10px;
    color: rgb(154, 95, 160);
    border: 2px solid black;
    margin-top: 0px;
}